<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TestCoreApp</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />*@

    <title>Nobodigonto</title>
    
    <link href="~/LandingTheme/css/bootstrap.css" rel="stylesheet" />
 
    <script src="~/LandingTheme/js/jquery.min.js"></script>
   
    <link href="~/LandingTheme/css/style.css" rel="stylesheet" />
   
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content=""/>
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--fonts-->
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
    <!--//fonts-->
  
    <script src="~/LandingTheme/js/responsiveslides.min.js"></script>
   

</head>
<body>
    @*<header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">TestCoreApp</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AboutUs">About Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Index">Users</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Admins" asp-action="Index">Admin</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Members" asp-action="Index">Member</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>*@

    <!--header-->
    <div class="header">
        <div class="header-top">
            <div class="container">

                <div class="top-nav">
                    <span class="menu"><img src="~/LandingTheme/images/menu.png" alt=""> </span>

                    <ul>
                        <li class="active"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a><span>/</span></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="AboutUs">About</a><span>/</span></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a><span>/</span></li>
                        <li><a asp-area="" asp-controller="Users" asp-action="Index">Users</a><span>/</span></li>
                        <li><a asp-area="" asp-controller="Admins" asp-action="Index">Admin</a><span>/</span></li>
                        <li><a asp-area="" asp-controller="Members" asp-action="Index">Member</a></li>
                    </ul>

                    <!--script-->
                    <script>
                        $("span.menu").click(function () {
                            $(".top-nav ul").slideToggle(500, function () {
                            });
                        });
                    </script>
                </div>

            </div>
        </div>
        <div class="header-bottom">
            <div class="container">
                <div class="logo">
                    <h1><a href="index.html">Nobodigonto</a></h1>
                    <p>Social Services</p>
                </div>
            </div>
        </div>
    </div>
    <!---->
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">

        <hr />
        <div class="container">

            <div class="col-md-3 grid1">
                <h3>Contacts</h3>
                <p>Contrary to popular</p>
                <p>perspiciatis</p>
                <p>+10 999 333 52</p>
            </div>
            <div class="col-md-6 grid1">
                <h3>Newsletter</h3>
                <form>
                    <input type="text" value="" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='';}">
                    <input type="submit" value="SUBSCRIBE">
                </form>
            </div>
            <div class="col-md-3 grid2">
                <h3>Follow Us</h3>
                <ul class="social-in">
                    <li><a href="#"><i> </i></a></li>
                    <li><a href="#"><i class="twitter"> </i></a></li>
                    <li><a href="#"><i class="linked"> </i></a></li>
                    <li><a href="#"><i class="rss"> </i></a></li>
                    <li><a href="#"><i class="pin"> </i></a></li>
                </ul>

            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="container">
            &copy; 2020 - TestCoreApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

    <script>
        $(function () {
            $("#slider").responsiveSlides({
                auto: true,
                nav: true,
                speed: 500,
                namespace: "callbacks",
                pager: true,
            });
        });
    </script>
</body>
</html>
