@{
    ViewData["Title"] = "Home Page";
}


<div class="slider">
    <div class="callbacks_container">
        <ul class="rslides" id="slider">
            <li>
                <img src="~/LandingTheme/images/banner.jpg" alt="">
               
            </li>
            <li>
                <img src="~/LandingTheme/images/banner1.jpg" alt="">

            </li>
            <li>
                <img src="~/LandingTheme/images/banner.jpg" alt="">

            </li>
        </ul>

    </div>
</div>

<div class="content">
    <div class="container">
        <div class="content-top">
            <div class="content-top1">

                <div class=" col-md-4 grid-top">
                    <div class="thumbnail">
                        <div class="grid-at">
                            <i class="glyphicon glyphicon-user"></i>
                            <h3 class="grid">Contrary to popular</h3>
                            <div class="clearfix"> </div>
                        </div>
                        <p> Lorem Ipsum is not simply random text. It has roots in a piece of classical </p>

                    </div>
                </div>
                <div class=" col-md-4 grid-top">
                    <div class="thumbnail">
                        <div class="grid-at">
                            <i class="glyphicon glyphicon-tree-deciduous"></i>
                            <h3 class="grid">Contrary to popular</h3>
                            <div class="clearfix"> </div>
                        </div>
                        <p> Lorem Ipsum is not simply random text. It has roots in a piece of classical </p>

                    </div>
                </div>
                <div class=" col-md-4 grid-top">
                    <div class="thumbnail">
                        <div class="grid-at">
                            <i class="glyphicon glyphicon-copy"></i>
                            <h3 class="grid">Contrary to popular</h3>
                            <div class="clearfix"> </div>
                        </div>
                        <p> Lorem Ipsum is not simply random text. It has roots in a piece of classical </p>

                    </div>
                </div>

                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="content-bottom">

            <div class="col-md-6 red">
                <a href="single.html"><img class="img-responsive" src="~/LandingTheme/images/pi.jpg" alt=""></a>
            </div>
            <div class="col-md-6 come">
                <div class=" welcome">
                    <h3>Donate For Save Lives</h3>
                    <p class="for">Lorem Ipsum is simply dummy text of the printing and typesetting industry lorem Ipsum has been .</p>
                    <p>Masagni dolores eoquie voluptaquisquam estqui dolorem ipsumquia dolor sitamnetase adipiscquam eiuse. Basmodi temporant, ut laboreas dolore magnam aliquam kuytase uaeraquis autem vel eum iure reprehend.</p>
                    <a class="hvr-rectangle-out" href="#">Read More</a>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>

        <div class="content-use">
            <div class=" content-use-bottom">
                <h3>Our Works</h3>
                <div class="our">
                    <div class="col-md-4 our-at">
                        <a href="single.html"><img class="img-responsive" src="~/LandingTheme/images/pi1.jpg" alt=""></a>
                        <h4><a href="single.html">Vaesales aserasaset kuys leruytas nuyasa lerras miertase dertasuas</a></h4>
                        <p>Nertyase riti masertas lertyarty tsaera delases kuhasasety kertya aset aplicbo neras faeskes kertys muyts ersvitae miertase dertasuas.</p>
                        <a class="hvr-rectangle-out" href="single.html">Read More</a>
                    </div>
                    <div class="col-md-4 our-at">
                        <a href="single.html"><img class="img-responsive" src="~/LandingTheme/images/pi2.jpg" alt=""></a>
                        <h4><a href="single.html">Vaesales aserasaset kuys leruytas nuyasa lerras miertase dertasuas</a></h4>
                        <p>Nertyase riti masertas lertyarty tsaera delases kuhasasety kertya aset aplicbo neras faeskes kertys muyts ersvitae miertase dertasuas.</p>
                        <a class="hvr-rectangle-out" href="single.html">Read More</a>
                    </div>
                    <div class="col-md-4 our-at">
                        <a href="single.html"><img class="img-responsive" src="~/LandingTheme/images/pi3.jpg" alt=""></a>
                        <h4><a href="single.html">Vaesales aserasaset kuys leruytas nuyasa lerras miertase dertasuas</a></h4>
                        <p>Nertyase riti masertas lertyarty tsaera delases kuhasasety kertya aset aplicbo neras faeskes kertys muyts ersvitae miertase dertasuas.</p>
                        <a class="hvr-rectangle-out" href="single.html">Read More</a>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>

            <div class="clearfix"> </div>
        </div>
    </div>
    <!---->
    <div class="col-mn">
        <div class="container">

            <div class="col-mn2">
                <h3>the best features</h3>
                <p>
                    Contrary to popular belief
                    , Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
                </p>

                <a class="hvr-rectangle-out more-in" href="#">Read More</a>

            </div>
        </div>
    </div>
    <!---->
    <div class="container">
        <div class="content-mid">
            <h3> Events</h3>
            <div class="news">
                <div class="col-md-6 new-more">
                    <div class="six">
                        <h4>26<span>June</span></h4>
                        <h6><a href="#">Sed ut perspiciatis unde omnis </a></h6>
                        <div class="clearfix"> </div>
                    </div>
                    <p>Kasertas lertyasea deeraeser miasera lertasa ritise doloert ferdas caplicabo nerafaes asety u lasec vaserat. nikertyade asetkertyptaiades goertayse.nikertyade asetkertyptaiades goertayse</p>
                    <a class="hvr-rectangle-out" href="#">Read More</a>
                </div>
                <div class="col-md-6 new-more">
                    <div class="six">
                        <h4>26<span>April</span></h4>
                        <h6><a href="#">Voluptatem accusantium doloremque </a></h6>
                        <div class="clearfix"> </div>
                    </div>
                    <p>Kasertas lertyasea deeraeser miasera lertasa ritise doloert ferdas caplicabo nerafaes asety u lasec vaserat. nikertyade asetkertyptaiades goertayse.nikertyade asetkertyptaiades goertayse</p>
                    <a class="hvr-rectangle-out" href="#">Read More</a>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>

    </div>
    <!---->

</div>